@page
@{
}

<div class="text-center">
  <form action="">
    <label for="Id" class="form-label">Id:</label>
    <input type="text" class="form-control" id="Id" name="Id" placeholder="Id">
    <label for="AeropuertoOringen" class="form-label">Aeropuerto de origen:</label>
    <input type="text" class="form-control" id="AeropuertoOrigen" name="AeropuertoOrigen" placeholder="Origen">
    <label for="AeropuertoDestino" class="form-label">Aeropuesto de destino:</label>
    <input type="text" class="form-control" id="AeropuertoDestino" name="AeropuertoDestino" placeholder="Destino">
    <label for="TiempoEstimado" class="form-label">Tiempo de vuelo estimado:</label>
    <input type="number" class="form-control" id="TiempoEstimado" name="TiempoEstimado" placeholder="Horas">
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>