@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertoModel
@{
  var aeropuerto = Model.Aeropuerto;
}
<div class="text-center">  
  <form method="POST">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombre" placeholder="ingrese Nombre" asp-for="@aeropuerto.Nombre">
    <label for="ciudad" class="form-label">Ciudad:</label>
    <input type="text" class="form-control" id="ciudad" placeholder="ingrese ciudad" asp-for="@aeropuerto.Ciudad">
    <label for="latitud_y" class="form-label">Latitud (coordenada y) :</label>
    <input type="number" class="form-control" id="latitud_y" placeholder="ingrese coordenada y" asp-for="@aeropuerto.Latitud_y">
    <label for="longitud_x" class="form-label">Longitud(coordenada x) :</label>
    <input type="number" class="form-control" id="longitud_x" placeholder="ingrese coodenada x"
      asp-for="@aeropuerto.Longitud_x">
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
