
@page
@model IndexModel

<div>  
    @{
    ViewData["Title"] = "Home page";
    }
</div>


<div class="text-center" >
    <h2  class="display-1" >Vuela</h2></p>
</div>

<br>
<div class="text-center" >
    <h2 class="display-"><mark>Con estilo</mark></h2> 
</div>
<br>

<body >
    <div >

        <div class="text-center ">
        <h1 class="display-4 "></h1>
        </div>

        <img src="https://media.traveler.es/photos/614828a62c483de2ab2ba46d/16:9/w_1280,c_limit/philip-myrtorp-iiqpxCg2GD4-unsplash.jpg" class="img-fluid" alt="...">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
        <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
    
    </div>
</body>
